body {
  margin: 0;
  padding: 0;
  font-family: PTSans, Arial, sans-serif;
  color: #000000;
  font-size: 14px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
}
.polygon {
  text-align: center;
}
a {
  text-decoration: none;
  color: black;
}
.site-navigation {
  color: #000000;
  font-size: 14px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  list-style: none;
}
.site-navigation a:hover {
  color: #000000;
  font-size: 14px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  list-style: none;
  color: rgb(129, 179, 210);
}
.site-navigation a:active {
  color: #000000;
  font-size: 14px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  list-style: none;
  color: rgb(102, 102, 102);
}
a h1,
h2 {
  font-size: 21px;
}
a h2 {
  line-height: 21px;
}
.caption {
  width: 210px;
  height: 16px;
  font-size: 21px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.24;
  letter-spacing: normal;
  text-align: left;
}
.caption a:hover {
  width: 210px;
  height: 16px;
  font-size: 21px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.24;
  letter-spacing: normal;
  text-align: left;
  color: rgb(129, 179, 210);
}
.caption a:active {
  width: 210px;
  height: 16px;
  font-size: 21px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.24;
  letter-spacing: normal;
  text-align: left;
  color: rgb(102, 102, 102);
}
.catalog-item-type {
  width: 77px;
  height: 12px;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
}
.catalog-item-price {
  width: 66px;
  height: 11px;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
}
.reason {
  color: #000000;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
}
.five {
  color: #333333;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
}
.catalog-list {
  list-style: none;
}
.interest {
  color: #000000;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
}
.best {
  
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.71;
  letter-spacing: normal;
  text-align: center;
}
.footer-contacts {
  text-align: center;
}
.main-footer ul {
  list-style: none;
}
