* {
  box-sizing: border-box;
}
body {
  width: 1200px;
  margin: 0 auto;
  padding: 0;
  font-family: PTSans, Arial, sans-serif;
  color: #000000;
  font-size: 14px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  background-color: #f2f2f2;
}
img {
  max-width: 100%;
  height: auto;
}
/* body {
  position: relative;
	margin: 0 auto;
	padding: 0;
	max-width: 1200px;
	min-width: 768px;

	background-color: rgb(242, 242, 242);
	color: rgb(0, 0, 0);

	font-family: "PT Sans", Arial, sans-serif;
	font-size: 14px;
	line-height: 26px;
	color: rgb(0, 0, 0);
	text-transform: uppercase;
}*/

a {
  text-decoration: none;
}
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"],
visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.main-navigation {
  height: 56px;
  position: relative;
  /*  background-color: white;*/
}
.main-header {
  background-color: white;
}
.main-header-logo {
  position: absolute;
  left: 45%;
  z-index: 10;
}
.site-navigation {
  display: flex;
  justify-content: space-between;
  position: relative;
  align-items: center;
  color: #000000;
  font-size: 14px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  list-style: none;
  margin-left: 65px;
  margin-right: 65px;
}
.site-navigation a:hover {
  /*  color: #000000;*/
  font-size: 14px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  list-style: none;
  color: rgb(129, 179, 210);
}
.site-navigation a:active {
  /*  color: #000000;*/
  font-size: 14px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  list-style: none;
  color: rgb(102, 102, 102);
}
.site-navigation-item a {
  color: black;
}
.container2 {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.sedona {
  position: relative;
  background-image: url("../img/welcome.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-color: #ffffff;
  background-size: cover;
}
.header--index {
  min-height: 390px;
}
.header--index:before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 1200px;
  height: 57px;
  background-image: url("../img/polygon.png");
  background-repeat: no-repeat;
  /*  background-size: 100% 57px;*/
}
.middle {
  width: 87%;
  padding-left: 30px;
  display: flex;
  justify-content: space-between;
  /*  flex-wrap: wrap;
  align-content: flex-start;
  margin-left: 35px;
  margin-top: 10px;
  padding-right: 6px;*/
  /*  display: flex;
  flex-direction: flex-start;
  flex-flow: column wrap;
  justify-content: space-between;
  align-content: flex-start;
  flex: 1 1 auto;
  margin-right: 30px;
  color: black;
  margin-left: 40px;
  margin-top: 10px;
  padding-right: 6px;*/
}
.text-container {
  display: flex;
  margin-bottom: 10px;
  font-size: 12px;
  font-weight: normal;
}
.caption {
  margin: 0;
  margin-bottom: 9px;
}
.caption a {
  /*  width: 210px;*/
  display: flex;
  height: 16px;
  font-size: 21px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.24;
  letter-spacing: normal;
  text-align: left;
  color: rgb(0, 0, 0);
}
.caption a:hover {
  /*  width: 210px;*/
  height: 16px;
  font-size: 21px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.24;
  letter-spacing: normal;
  text-align: left;
  color: rgb(129, 179, 210);
}
.caption a:active {
  /*  width: 210px;*/
  height: 16px;
  font-size: 21px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.24;
  letter-spacing: normal;
  text-align: left;
  color: rgb(102, 102, 102);
}
.catalog {
  background-color: rgb(254, 254, 254);
  width: 1200px;
  margin: 0 auto;
  /*  box-shadow: 0 0 15px 0 rgba(146, 146, 146, 1);*/
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.catalog-item {
  display: flex;
  padding: 30px 75px;
  border-bottom: 1px solid gray;
}
.catalog-item-image {
  display: flex;
  max-width: 135px;
  max-height: 90px;
  position: relative;
}
.catalog-item-type {
  margin: 0;
  margin-right: 40px;
}
.catalog-item-price {
  margin: 0;
}
.button-item {
  display: inline-block;
  text-decoration: none;
  color: rgb(254, 254, 254);
  font-weight: bold;
  padding: 3px 10px;
}
.detailed {
  background-color: rgb(129, 179, 210);
}
.detailed:hover {
  background-color: rgb(102, 158, 192);
}
.detailed:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: rgb(84, 150, 189);
}
.book {
  /*  display: flex;*/
  background-color: rgb(118, 99, 87);
}
.book:hover {
  background-color: rgb(96, 78, 67);
}
.book:active {
  background-color: rgb(80, 62, 51);
  color: rgba(255, 255, 255, 0.3);
}
.paragraph {
  display: flex;
  /*  flex-direction: column;*/
  justify-content: space-between;
  align-items: center;
  vertical-align: middle;
  color: #000000;
  width: 100%;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  /*  font-size: 21px;*/
  /*  font-weight: 700;*/
  /*  line-height: 26px;*/
  /*    padding-right: 380px;*/
}
.reason {
  margin: 0 auto;
  line-height: 26px;
  color: rgb(51, 51, 51);
  text-align: center;
  background-color: rgb(255, 255, 255);
  /*  width: 500px;*/
}
.reason h2 {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: rgb(0, 0, 0);
  margin-top: 60px;
}
.reason p {
  padding-top: 9px;
  margin-bottom: 50px;
  color: rgb(51, 51, 51);
}
.catalog-list {
  list-style-type: none;
  padding: 0;
}
.interest {
  color: #000000;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
}
.best {
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.71;
  letter-spacing: normal;
  text-align: center;
  padding-left: 383px;
  padding-right: 375px;
}
.brown {
  font-size: 21px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.24;
  letter-spacing: normal;
  text-align: center;
}
.appointment-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.button-find {
  width: 458px;
  text-align: center;
}
.button-item-detailed {
  width: 110px;
  height: 27px;
}
/*.catalog-list {
  display: flex;
    flex-direction: column;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;*/

}
.right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /*  width: 135px;*/
}
.catalog-item-star {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 30px;
  font-size: 22px;
  color: rgb(130, 181, 211);
}
.catalog-item-rating {
  padding: 2px 10px;
  background-color: rgb(242, 242, 242);
  margin: 0;
  font-size: 14px;
  font-weight: normal;
}
.footer-contacts {
  text-align: center;
}
.main-footer {
  /*  position: relative;*/
  /*  margin-left: 112px;*/
  margin-right: 112px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 0px;
  background-color: white;
  width: 100%;
  min-height: 120px;
/*  bottom: 0;*/
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  align-items: center;
  padding-left: 130px;
  padding-right: 101px;
}
.main-footer ul {
  list-style: none;
}
.footer-contacts {
  font-size: 21px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.24;
  letter-spacing: normal;
  text-align: center;
}
.socialbutton {
  display: flex;
  /*  flex-wrap: wrap;*/
  justify-content: space-between;
  width: 150px;
  list-style: none;
  margin: 0 auto;
  padding: 0;
}
.footer-social:hover {
  background-color: rgb(102, 159, 194);
}
.social-button:active {
  background-color: rgb(83, 151, 190, 0.3);
  opacity: 0.3;
}
.footer-social {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
}
.copyright {
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
}
/*.copyright a{*/

/*    background-image:url(logoname2.svg)*/

.copyright-active:hover {
  /*  background-image:url('logoname.png');*/
  content: url('logoname.png');
}
.search-hotels {
  position: relative;
  text-align: center;
  background-color: rgb(255, 255, 255);
  padding-top: 53px;
  z-index: 15;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.search-hotels h3 {
  margin-top: -5px;
  margin-bottom: 24px;
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
}
.search-hotels p {
  margin-bottom: 47px;
  line-height: 1.8;
}
.btn-search-hotel {
  display: inline-block;
  margin: 0 auto;
  width: 568px;
  padding: 30px;
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: rgb(255, 255, 255);
  text-decoration: none;
  background-color: rgb(118, 99, 87)
}
.btn-search-hotel:hover {
  background-color: rgb(96, 78, 67);
}
.btn-search-hotel:active {
  background-color: rgb(80, 62, 51);
  color: rgba(255, 255, 255, 0.3);
}
.ordering {
  position: absolute;
  z-index: 0;
  left: 25.2%;
  right: 25.2%;
  margin: 0 auto;
  width: 568px;
  font-weight: bold;
  background: rgb(255, 255, 255);
}
.ordering-show {
  display: none;
}
.check-block {
  padding-top: 35px;
  padding-bottom: 29px;
  padding-left: 54px;
}
.departure-block {
  padding-left: 57px;
}
.ordering input {
  width: 345px;
  height: 38px;
  box-sizing: border-box;
  padding: 12px 10px;
  padding-right: 39px;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: rgb(242, 242, 242);
  border: none;
}
.date-check {
  margin-left: 3px;
}
.date-check svg {
  position: absolute;
  top: 63px;
  right: 63px;
  cursor: pointer;
  background: none;
  border: none;
}
.calendar-in:hover path {
  fill: rgb(0, 0, 0);
}
.calendar-in:active path {
  fill: rgb(129, 179, 210);
}
.date-departure span {
  margin-top: 10px;
  margin-left: 4px;
}
.date-departure svg {
  position: absolute;
  top: 130px;
  right: 63px;
  cursor: pointer;
  background: none;
  border: none;
}
.calendar-from:hover path {
  fill: rgb(0, 0, 0);
}
.calendar-from:active path {
  fill: rgb(129, 179, 210);
}
.ordering input:hover {
  background-color: rgb(235, 235, 235);
}
.ordering input:focus {
  background-color: rgb(255, 255, 255);
}
.date-check input {
  margin-left: 24px;
  margin-top: 20px;
}
.departure-block {
  margin-left: 1px;
}
.date-departure input {
  margin-left: 23px;
}
.wrapper-adult {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.wrapper-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.adult-block {
  width: 230px;
  position: relative;
  top: 30px;
  left: 56px;
}
.adult-block label {
  margin-right: 39px;
}
.adult-block input {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 38px;
  height: 38px;
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: rgb(242, 242, 242);
  border: none;
}
.child-block {
  position: relative;
  left: 336px;
  bottom: 8px;
  width: 230px;
}
.child-block label {
  margin-right: 25px;
}
.child-block input {
  width: 36px;
  margin: 0;
  padding: 0;
  padding-left: 2px;
  text-align: center;
}
.button-number:hover {
  color: rgb(0, 0, 0);
}
.button-number:active {
  color: rgb(129, 175, 210);
}
.button-minus {
  width: 40px;
  height: 38px;
  margin: 0;
  padding: 0;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: rgb(169, 169, 169);
  background-color: rgb(242, 242, 242);
  border: none;
  cursor: pointer;
}
.button-plus {
  width: 39px;
  height: 38px;
  margin: 0;
  padding: 0;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: rgb(169, 169, 169);
  background-color: rgb(242, 242, 242);
  border: none;
  cursor: pointer;
}
.button-search {
  padding: 17px 197px 15px 196px;
  margin: 45px 55px 55px 55px;
  font-family: 'PT Sans', Arial, sans-serif;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  background-color: rgb(129, 179, 210);
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  border: none;
}
.button-search:hover {
  background-color: rgb(102, 158, 192);
}
.button-search:active {
  background-color: rgb(84, 150, 189);
  color: rgba(255, 255, 255, 0.3);
}
.map {
  width: 100%;
  height: 593px;
  text-align: center;
  z-index: 20;
}
